name: 编译 PassWall2 软件包

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: 检查代码
      uses: actions/checkout@v4

    - name: 初始化环境
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git wget curl unzip \
          gawk flex gettext libssl-dev python3 rsync ccache cmake ninja-build

    - name: 克隆源码
      run: |
        git clone --depth=1 https://github.com/padavanonly/immortalwrt-mt798x-24.10 -b 2410 openwrt

    - name: 安装 PassWall2
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        git clone https://github.com/xiaorouji/openwrt-passwall2 package/passwall2

    - name: 编译 PassWall2
      run: |
        cd openwrt
        make package/luci-app-passwall2/compile V=s

    - name: 上传 ipk 包
      uses: actions/upload-artifact@v4
      with:
        name: passwall2_ipk
        path: openwrt/bin/packages/*/luci/luci-app-passwall2*.ipk
